<html>
  <head>
    <link href="stylesheets/index.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="content">
      <% @gif_image_hash.each do |title, image_url| %>
        <div id="gif_box">
          <div id="gif_box_info">
            <img id="gif_box_icon" src="images/icon.jpeg"><%= title %><br>
          </div>
          <div id="gif_image_wrapper">
            <img id="gif_image" src="<%= image_url %>"><br>
          </div>
          <div id="gif_box_feedback">
            <img id="gif_box_comment" src="images/comment.png">
            <img id="gif_box_like" src="images/like.png">
          </div>
        </div>
      <% end %>
    </div>
    <br>
    <% @gif_image_hash.each do |title, image_url| %>
      <%= title %><br>
      => <%= image_url %><br>
    <% end %>
    <br>
    image_count: <%= @image_count %>
  </body>
</html>

